
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-size:20px
}

.container{
  background: transparent;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


.time-block{
  text-align: center;
}

.description{
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  display:flex;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 25px;
}

.saveBtn i {
  padding: 24px;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all .2s ease-in-out;
  color: black;
}

.dim {
  opacity: 40%;
}



  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .hour {
      overflow-wrap:initial;
      text-orientation: upright;
      font-size:80%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .hour {
    overflow-wrap:break-word;
    text-align:center;
  }   
}

@media screen and (max-width: 575px) {
  .hour {
    overflow-wrap:break-word;
    text-orientation: upright;
    font-size:80%;
  }
}